
body.front.not-logged-in {

  /* Bloco destacado */
  /* css do bloco de informação na home de usuário deslogado */
  #block-system-main .pane-1{
    padding-left: 100px;
    background:  url('../images/bussola-icone.png') no-repeat scroll 15px ;
    margin-bottom: 0px;
    min-height: 70px;
    .pane-title {
      font-size: 26px;
      margin: 0px;
      padding: 0px;
      border: 0px;
      color: $texto-azul;
    }
    .block-content {
       color: #bbbaba;
    }

    div.block-inner:after {
      display: block;
    }
  }


  .region-three-33-second {
    padding-right: 0px;
    margin-right: 0px;
  }

  .region .region-three-33-third {
    padding-left: 0px;
    margin-left: 0px;

  }

  .pane-views-panes.pane-commons-featured-panel-pane-1 {
    padding-right: 15px;
    margin-right: 0px;
    @include border-radius(8px 0px 0px 8px);
    .pane-title {
      text-decoration: none;
    }
  }

  .region-three-33-third section {
    padding-left: 15px;
    margin-left: 0px;
    @include border-radius(0px 8px 8px 0px);
  }

  .region-three-33-second section,
  .region-three-33-third section,
  .pane-user-login {
    height: 410px;
    padding: 10px 25px;
    font-size: 13px;
    .pane-title {
      margin-bottom: 20px;
    }

    img {
      width: 35px;
    }

    .views-row {
      border-bottom: 1px dotted #e1e1e1;
      padding-bottom: 0.7em;
      margin-bottom: 0.7em;
    }
  }

  .pane-views-panes > div {
    padding: 0px;
  }

  /* Bloco de destaques - featured */
   .region-three-33-second section {

    color: $destaque-font-color;
    font-weight: bold;
    border-right: 0px;
    .pane-title {
      color: $destaque-font-color;
      border-color: $destaque-font-color;
      padding-left: 40px;
      background: url('../images/destaques.png') no-repeat scroll 5px ;
    }

    a {
      color: $destaque-font-color;
      font-weight: bold;
      &:hover {
        color: blue ;
      }
    }

  }

  /* BLoco de atividades */
  .region-three-33-third section {
    color: $atividades-font-color;
    font-weight: bold;
    border-left: 0px;
    .pane-title {
      color: $atividades-font-color;
      border-color: $atividades-font-color;
      padding-left: 40px;
      background: url('../images/atualizar.png') no-repeat scroll 5px ;
    }


    a {
      color: #16a085;

      &:hover {
        color: blue ;
      }
    }
  }

}
