
div.entity-message .user-picture {
  float: left;
  margin-right: 10px;
}


.view-commons-radioactivity-groups-most-active .type-Pergunta:before,
.view-commons-groups-recent-content .type-type-Pergunta:before,
.view-commons-radioactivity-groups-active-in-group .type-Pergunta:before,
.view-commons-radioactivity-groups-most-active .type-Resposta:before,
.view-commons-groups-recent-content .type-type-Resposta:before,
.view-commons-radioactivity-groups-active-in-group .type-Resposta:before  {
  content: "";
  background: url('images/icons/icon-gray-question.png') no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}


.view-commons-radioactivity-groups-most-active .type-Enquete:before,
.view-commons-groups-recent-content .type-Enquete:before,
.view-commons-radioactivity-groups-active-in-group .type-Enquete:before {
  content: "";
  background: url('images/icons/polls.png') no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;

}

.view-commons-radioactivity-groups-most-active .type-Pergunta:before,
.view-commons-groups-recent-content .type-Pergunta:before,
.view-commons-radioactivity-groups-active-in-group .type-Pergunta:before,
.view-commons-radioactivity-groups-most-active .type-Resposta:before,
.view-commons-groups-recent-content .type-Resposta:before,
.view-commons-radioactivity-groups-active-in-group .type-Resposta:before {
  content: "";
  background: url('images/icons/icon-gray-question.png') no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.main-menu-comunidades a {
  background: url('images/icons/icon-groups.png') no-repeat center 10px;
}

.block-commons-utility-links {
  margin-bottom: 2px;
}

.commons-bw-partial-node-form {
  margin-left: 65px;
}

.commons-bw-partial-node-form div div.user-picture{
  left: -65px;
  margin-top: 5px;
  position: absolute;
}

/* USER LOGIN BLOCK */

.pane-user-login {
  padding: 10px;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 4px #858585;
  margin: 10px 0;
}

.pane-user-login h3 {
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 0.85em;
}

.pane-user-login label {
  display: inline;

}

.pane-user-login input#edit-name,
.pane-user-login input#edit-pass {
   -moz-box-sizing: border-box;
    border: 1px solid #B2B2B2;
    border-radius: 6px 6px 6px 6px;
    width: 75%;
    float: right;
    padding-left: 26px;

}

.pane-user-login input#edit-name {
  background: url('images/icons/mail-icon-small.png') no-repeat scroll 5px ;

}

.pane-user-login input#edit-pass{
  background: url('images/icons/key-icon-small.png') no-repeat scroll 5px;
  padding-left: 28px;
}

.palette-black-blue-yellow h3 {
    color: #353535;
}

/* MOSTRA IFRAME PAGE */

#mostrasaude-iframe {
  border: none;

}

.main-menu-mostra a {
  background: url('images/marca_ivmostra.png') no-repeat center 10px;
}

body.page-mostra div#columns{
  margin-top: -3px;
}

body.page-mostra div#page-top {
  display: none;

}
