
div.entity-message .user-picture {
  float: left;
  margin-right: 10px;
}


.view-commons-radioactivity-groups-most-active .type-Pergunta:before,
.view-commons-groups-recent-content .type-type-Pergunta:before,
.view-commons-radioactivity-groups-active-in-group .type-Pergunta:before,
.view-commons-radioactivity-groups-most-active .type-Resposta:before,
.view-commons-groups-recent-content .type-type-Resposta:before,
.view-commons-radioactivity-groups-active-in-group .type-Resposta:before  {
  content: "";
  background: url('images/icons/icon-gray-question.png') no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}


.view-commons-radioactivity-groups-most-active .type-Enquete:before,
.view-commons-groups-recent-content .type-Enquete:before,
.view-commons-radioactivity-groups-active-in-group .type-Enquete:before {
  content: "";
  background: url('images/icons/polls.png') no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;

}

.view-commons-radioactivity-groups-most-active .type-Pergunta:before,
.view-commons-groups-recent-content .type-Pergunta:before,
.view-commons-radioactivity-groups-active-in-group .type-Pergunta:before,
.view-commons-radioactivity-groups-most-active .type-Resposta:before,
.view-commons-groups-recent-content .type-Resposta:before,
.view-commons-radioactivity-groups-active-in-group .type-Resposta:before {
  content: "";
  background: url('images/icons/icon-gray-question.png') no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.main-menu-comunidades a {
  background: url('images/icons/icon-groups.png') no-repeat center 10px;
}

.block-commons-utility-links {
  margin-bottom: 2px;
}

.commons-bw-partial-node-form {
  margin-left: 65px;
}

.commons-bw-partial-node-form div div.user-picture{
  left: -65px;
  margin-top: 5px;
  position: absolute;
}

.pane-user-login {
  padding: 10px;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 4px #858585;
  margin: 10px 0;
}

#mostrasaude-iframe {
  border: none;

}

.main-menu-mostra a {
  background: url('images/marca_ivmostra.png') no-repeat center 10px;
}

body.page-mostra div#columns{
  margin-top: -3px;
}

body.page-mostra div#page-top {
  display: none;

}
