#edit-field-experiencia-catespecificas-und {
  width: 66.66%;
}

#block-system-main .primary-fields {
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: #858585 1px 1px 4px;
  -moz-box-shadow: #858585 1px 1px 4px;
  box-shadow: #858585 1px 1px 4px;
}
#block-system-main .primary-fields .cke_browser_webkit {
  width: 570px;
}
#block-system-main .primary-fields .fieldset-outer-wrapper {
  border: 0;
  padding: 0;
}
#block-system-main .primary-fields h3 {
  margin: 0 0 20px;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}
#edit-title-field label,
#edit-field-descricao label,
#edit-field-imagem-de-destaque label,
#edit-field-experiencia-pontosequipes > div > label,
#edit-field-experiencia-anexo-und .fieldset-legend,
#block-system-main .primary-fields h4 {
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
  border-left: 10px solid #4995cb;
  padding-left: 10px;
  margin: 0 0 10px;
  display: block;
}
#block-system-main .primary-fields .description {
  font-family: Verdana;
  font-size: 11px;
  font-weight: normal;
  color: #666;
  margin: 5px 0 20px;
}
#block-system-main #edit-field-experiencia-ambito-und label,
#block-system-main #edit-field-experiencia-pontosequipes-und label {
  font-weight: normal;
  padding-left: 10px;
  border-left: none;
}
#block-system-main .primary-fields .form-item-field-experiencia-catespecificas-und > label,
#block-system-main .primary-fields .form-item-field-experiencia-ambito-und > label {
  border-left: none;
  padding-left: 0;
}
#block-system-main .primary-fields .form-item-field-experiencia-catespecificas-und {
  margin-top: 10px;
}
#field-video-values,
#field-video-values tr {
  border: none;
  background: #fff;
}
#field-video-values tbody,
#field-video-values tr .fieldset-outer-wrapper {
  margin: 0;
  border: none;
}
#field-video-values .field-label label,
#edit-field-imagem-und .fieldset-legend {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.form-item-field-endereco-und-0-locality {
  margin-top: 0;
}